{% extends 'admin/base.html' %}

{% block content %}
<form method="post" action="{{ url_for('blog_admin.confirm_delete', pk=post.id) }}" class="text-[12px] text-gray-500 flex flex-col gap-5">
    <h3>Are you sure you want to delete this post. Note: this process cannot be reversed?</h3>
    <p class="flex gap-3">
        <input type="submit" class="bg-sky-600 text-white py-2 px-5 cursor-pointer" href="{{ url_for('blog_admin.confirm_delete', pk=post.id) }}" value="Proceed">
        <a class="bg-red-500 text-white py-2 px-5" href="javascript:history.back()">No</a>
    </p>
</form>
{% endblock %}

