{% extends 'admin/base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<section>
 
    <div class="w-full grid grid-cols-3 justify-between gap-4">
        <a class="p-4 bg-sky-50 text-sky-600   text-md hover:bg-sky-400 hover:text-white" href="">
            <strong>New Blog</strong>
            <p class="text-[12px]">Create a new Blog post</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Notice</strong>
            <p class="text-[12px]">Create a new Notice</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Event</strong>
            <p class="text-[12px]">Create a new Event</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Hymn</strong>
            <p class="text-[12px]">Create a new Hymn</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Gallery</strong>
            <p class="text-[12px]">Create a new Gallery</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Service</strong>
            <p class="text-[12px]">Create a new Service</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Testimony</strong>
            <p class="text-[12px]">Create a new Testimony</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Training</strong>
            <p class="text-[12px]">Create a new Training</p>
        </a>
        <a class="p-4 bg-sky-50 text-sky-600   text-md  hover:bg-sky-400 hover:text-white" href="">
            <strong>New Sermon</strong>
            <p class="text-[12px]">Create a new Training</p>
        </a>
    </div>
    
</section>
{% endblock %}
