{% extends 'admin/base.html' %}
{% block content %}

<form action="{{ url_for('hymns_admin.create') }}" method="post" class="text-[12px] text-gray-600">
    <div class="mb-5">
        {{form.title}}
    </div>

    <div class="mb-0">
        {{form.content}}
    </div>

    <div class="flex w-full gap-5">
        <input class="bg-sky-600 cursor-pointer text-white w-full p-2 mt-5 hover:bg-sky-400" type="submit" value="Save">
        <a href="javascript:history.back()" class="bg-gray-100 cursor-pointer text-gray-800 p-2 w-full mt-5 hover:bg-gray-300/50 text-center">Cancel</a>
        <a href="{{url_for('hymns_admin.delete', pk=hymn.id)}}" class="bg-red-100/30 cursor-pointer text-red-500 p-2 w-full mt-5 text-center">Delete</a>
    </div>
    
</form>

<script>
    window.addEventListener('load', () => {
          document.getElementById('title').value = '{{hymn.title}}'
          document.getElementById('content').value = '{{hymn.content}}'
      })
</script>

{% endblock %}
